@font-face {
  font-family: "Primetime";
  src: url(/Font/PRIMETIME\ И\ PERSONAL\ USE\ ONLY.ttf);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#myVideo {
  position: absolute;

  min-width: 100%;
  min-height: 100%;
}

.one {
  position: absolute;
  padding: 16px 58px;
  color: pink;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  line-height: 72px;
  color: rgb(244, 167, 187);
  font-weight: bold;
  font-size: 28px;
  font-family: "Primetime";
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 80px;
  list-style-type: none;
}

.opening {
  display: flex;
  gap: 16px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo-container {
  display: flex;
}

button {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  width: 100px;
  border-radius: 12px;
}
