@font-face {
  font-family: "Primetime";
  src: url(/Font/PRIMETIME\ И\ PERSONAL\ USE\ ONLY.ttf);
}

body {
  margin: 0;
}

#myVideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 16px 58px;
  color: pink;
  gap: 50px;
  background: linear-gradient(rgba(238, 233, 233, 0.1), 10%, black);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  line-height: 72px;
  color: rgb(244, 167, 187);
  font-weight: bold;
  font-size: 28px;
  font-family: "Primetime";
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 80px;
  list-style-type: none;
}

.opening {
  display: flex;
  gap: 16px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo-container {
  display: flex;
}

.group-photo {
  width: 700px;
  height: auto;
  flex: 1 0 auto;
  opacity: 0.5;
}

button {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  width: 100px;
  border-radius: 12px;
}

.two {
  text-align: center;
}

.info {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
}

.member {
  max-width: 200px;
}

.three {
  padding: 0px 100px;
}

.quote-person {
  display: flex;
  margin: 0%;
  justify-content: flex-end;
  padding-right: 15px;
  font-size: 26px;
}

.four {
  padding: 100px;
}
.sign-up {
  display: flex;
  align-items: center;
  gap: 250px;
  border-radius: 30px;
  background-color: pink;
  color: black;
  padding: 30px;
}

button {
  color: black;
  background-color: white;
}
